$cardWidth: 150px;
$cardHeight: $cardWidth * 1.6;
.list {
  display: flex;
  width: 100%;
  margin: 16px 0;
  flex-wrap: nowrap;
  align-self: flex-end;
  background: var(--bg-point-60);
  &__item {
    flex: 1 1 auto;
    border: 2px solid #0061a5;
    &__inner {
      position: relative;
      padding-top: 160%;
    }
    &__num {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
    & + .list__item {
      border-left: 0 none;
    }
  }
}
