$borderColor: #050505;
$cardWidth: 150px;
$cardHeight: $cardWidth * 1.6;
.card {
  display: flex;
  width: $cardWidth;
  height: $cardHeight;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  // background: #fff;
  background-color: transparent;
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  &__front, &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $borderColor;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    &::before {
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      border: 1px solid $borderColor;
      border-radius: 4px;
      content: '';
    }
  }
  &__front {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    &__num {
      font-size: 100px;
    }
  }
  &__back {
    &::before {
      --u: 1px;
      --c1: #363636;
      --c2: #2b2b2b;
      --c3: #1e1e1e;
      --c4: #121212;
      --c5: #050505;
      --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.67);
      background: 
        conic-gradient(from 90deg at 99% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from 180deg at 1% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from 0deg at 99% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from -90deg at 1% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from -60deg at 50% 15.5%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from -60deg at 50% 16.75%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), 
        conic-gradient(from 120deg at 50% 83.25%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), 
        linear-gradient(32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
        linear-gradient(-32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
        linear-gradient(-90deg, #fff0 0 49%, var(--c5) 0 51%, #fff0 0 100%) var(--gp),
        linear-gradient(60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
        linear-gradient(-60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
        conic-gradient(from -90deg at 50% 50%, var(--c5) 0 32deg, var(--c3) 0 60.5deg, var(--c4) 0 90deg, var(--c5) 0 119.5deg, var(--c1) 0 148deg, var(--c5) 0 180deg, #fff0 0 360deg) var(--gp),
        conic-gradient(from 90deg at 50% 50%, var(--c2) 0 32deg, var(--c4) 0 60.5deg, var(--c3) 0 90deg, var(--c1) 0 119.5deg, var(--c5) 0 148deg, var(--c2) 0 180deg,  #fff0 0 360deg) var(--gp);
      // background-color: var(--c5);
    }
  }
  &.animation {
    perspective: 500px;
    transition: left 0.6s ease-in 1.2s, top 0.6s ease-in 1.2s, transform 0.6s ease-in 1.2s;
    .card {
      &__inner {
        transition: transform 0.6s, opacity 0.6s ease-in 0.6s;
        transform-style: preserve-3d;
      }
      &__front, &__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }
  &.selected {
    .card {
      &__inner {
        transform: rotateY(180deg);
      }
    }
    &.next {
      pointer-events: auto;
      position: absolute;
      top: calc(50% - #{$cardHeight / 2});
      left: calc(50% - #{$cardWidth * 1.4 + 10px});
      transform: scale(1.4);
      .card__inner {
        opacity: 1;
      }
      & ~ .selected.next {
        left: calc(50% + #{$cardWidth * 0.4 + 10px});
      }
    }
  }

  &.next {
    pointer-events: none;
    .card__inner {
      opacity: 0;
    }
    &.selected {
      &__my {
        pointer-events: none;

        // transition-delay: 0s;
        // left: calc(50% - #{$cardWidth / 2});
        .card {
          &__front {
            border-color: red;
            &::before {
              border-color: red;
            }
            &::after {
              position: absolute;
              left: 0;
              top: -20px;
              width: 100%;
              height: 20px;
              line-height: 20px;
              color: red;
              text-align: center;
              content: '내가 선택할 카드';
            }
          }
        }
      }
      &__opponent {
        // transition-delay: 0s;
        // opacity: 0;
        pointer-events: none;
        .card {
          &__front {
            border-color: blue;
            &::before {
              border-color: blue;
            }
            &::after {
              position: absolute;
              left: 0;
              top: -20px;
              width: 100%;
              height: 20px;
              line-height: 20px;
              color: blue;
              text-align: center;
              content: '상대방이 선택할 카드';
            }
          }
        }
      }
    }
  }
}
