$fontDirectory: '../../assets/fonts';

@font-face {
  font-family: 'notosans';
  font-weight: normal;
  src: local("☺"), url(#{$fontDirectory}/NotoSansKR-Regular.woff2) format('woff2');
  src: url(#{$fontDirectory}/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
  font-family: 'notosans';
  font-weight: 700;
  src: local("☺"), url(#{$fontDirectory}/NotoSansKR-Bold.woff2) format('woff2');
  src: url(#{$fontDirectory}/NotoSansKR-Bold.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-weight:normal;
  src:local("☺"), url(#{$fontDirectory}/Roboto-Regular.woff2) format('woff2');
  src: url(#{$fontDirectory}/Roboto-Regular.woff) format('woff');
}
@font-face{
  font-family:'Roboto';
  font-weight:bold;
  src:local("☺"), url(#{$fontDirectory}/Roboto-Bold.woff2) format('woff2');
  src: url(#{$fontDirectory}/Roboto-Bold.woff) format('woff');
}
